@import "_base";

.carousel-section {
    height: 650px;
    background-image: linear-gradient(63deg, #ff4858 -25%, #8f65ff 118%);

    .container {
        justify-content: space-between;
        padding-left: 70px;
        padding-right: 35px;
    }

    .slide-description {
        padding-top: 161px;
        color: white;
    }

    .slide-title {
        @extend .font-bold;
        font-size: 36px;
    }

    .slide-text {
        margin: 40px 0;
        line-height: 22px;
        font-size: 14px;
    }

    .slide-link {
        @extend .font-bold;
        text-decoration: none;
        line-height: 22px;
        font-size: 14px;
        color: white;
        border-bottom: 3px solid white;
    }
}